poetry==2.3.2
numpy==2.4.2
pandas==3.0.1
scikit-learn==1.8.0
scipy==1.17.1
notebook==7.5.3
matplotlib==3.10.8
seaborn==0.13.2
tqdm==4.67.3
python-dotenv==1.2.1
PyYAML==6.0.3
openai==2.22.0
transformers==5.2.0
google-generativeai==0.8.6
networkx==3.6.1