poetry==2.3.0
numpy==2.4.1
pandas==2.3.3
scikit-learn==1.8.0
scipy==1.17.0
notebook==7.5.2
matplotlib==3.10.8
seaborn==0.13.2
tqdm==4.67.1
python-dotenv==1.2.1
PyYAML==6.0.3
openai==2.15.0
transformers==4.57.6
google-generativeai==0.8.6
networkx==3.6.1